[submodule "extern/catppuccin/polybar"]
	path = extern/catppuccin/polybar
	url = https://github.com/catppuccin/polybar
[submodule "extern/catppuccin/alacritty"]
	path = extern/catppuccin/alacritty
	url = https://github.com/catppuccin/alacritty
[submodule "extern/catppuccin/yazi"]
	path = extern/catppuccin/yazi
	url = https://github.com/catppuccin/yazi
[submodule "extern/catppuccin/bat"]
	path = extern/catppuccin/bat
	url = https://github.com/catppuccin/bat
[submodule "extern/catppuccin/cava"]
	path = extern/catppuccin/cava
	url = https://github.com/catppuccin/cava
[submodule "extern/catppuccin/Kvantum"]
	path = extern/catppuccin/Kvantum
	url = https://github.com/catppuccin/Kvantum
[submodule "extern/catppuccin/waybar"]
	path = extern/catppuccin/waybar
	url = https://github.com/catppuccin/waybar
[submodule "extern/catppuccin/hyprland"]
	path = extern/catppuccin/hyprland
	url = https://github.com/catppuccin/hyprland
[submodule "extern/catppuccin/btop"]
	path = extern/catppuccin/btop
	url = https://github.com/catppuccin/btop
